* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55vh;
}
.intro .letrillas {
  justify-content: center;
}
.intro .letrillas .title {
  font-size: 70px;
}
.intro .letrillas .subtitle {
  text-align: center;
}
.intro .letrillas .subtitlee {
  text-align: center;
}

footer {
  background: #112F2F;
  display: flex;
  flex: wrap;
  margin: auto;
}

.subtexto {
  color: white;
  text-align: justify;
  margin-top: 15px;
  font-size: 13px;
}

.partFooter {
  text-align: center;
  justify-content: center;
}

.partFooter h4 {
  color: white;
  margin-bottom: 30px;
}

.partFooter ul li {
  margin-top: 20px;
  list-style-type: none;
  text-decoration: none;
  color: white;
  text-align: justify;
  border-bottom: 1px solid white;
}

.partFooter ul a {
  text-decoration: none;
}

.socialMedia {
  font-size: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
}
.socialMedia .bi-facebook {
  color: white;
}
.socialMedia .bi-instagram {
  color: white;
}
.socialMedia .bi-whatsapp {
  color: white;
}
.socialMedia .bi-tiktok {
  color: white;
}
.socialMedia .bi-facebook:hover {
  color: #4267B2;
}
.socialMedia .bi-instagram:hover {
  color: #E1306C;
}
.socialMedia .bi-whatsapp:hover {
  color: #25D366;
}
.socialMedia .bi-tiktok:hover {
  color: black;
}

main {
  margin-top: 55px;
  width: 300%;
  height: 100px;
  background-image: url(../img/Header\ 01.png);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}

.icon {
  width: 30px;
  height: 50px;
}

nav {
  background: #ECC8BC;
}

.anclas {
  color: black;
}

.wasu {
  width: 500px;
}

.wasuu {
  width: 250px;
  margin-top: 20px;
}

.logo {
  width: 60px;
  height: 50px;
}

.slider {
  height: 300px;
}

.lego {
  width: 300px;
  height: 70px;
}

.medio {
  background-color: #D6D9CD;
  width: 100%;
  padding-bottom: 2rem;
}

.beton {
  display: flex;
  justify-content: center;
}

.dobu {
  background-color: #142E2D;
  padding: 20px;
}

.txt {
  color: #f4f4f4;
  padding: 10px;
  text-align: justify;
}

.txtt {
  color: #f4f4f4;
  padding: 10px;
  justify-content: centers;
  text-align: center;
}

.toxt {
  text-align: center;
  padding: 15px;
  align-items: center;
}

@-webkit-keyframes animation {}

@keyframes animation {}
.dobe {
  background-color: #EDCE7D;
  align-items: center;
  display: flex;
}

.area {
  height: 100px;
}

.fontCardie {
  background-color: #fdf5e6;
}

.peneges {
  width: 70px;
}

.cardie {
  text-align: center;
}

.quinsoy {
  padding: 10px;
}

.ilsefoto {
  width: 100%;
  background-color: #142E2D;
}

.fotocont {
  display: flex;
  justify-content: center;
}

.fotillo {
  width: 150px;
  border-radius: 50%;
  border: 2px solid #fdf5e6;
}

.formulario {
  background-image: url(../img/Ilust\ 07.png);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 30px;
}

.form {
  background-color: #EDCE7D;
  padding: 10px;
  border-radius: 20px;
  opacity: 0.8;
}

.center {
  text-align: center;
}

.precio {
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url(../img/Ilust\ 05.png);
}

@media screen and (max-width: 600px) {
  .wasu {
    width: 375px;
  }
  .wasuu {
    width: 200px;
  }
}
@media screen and (max-width: 385px) {
  .wasu {
    width: 255px;
  }
  .wasuu {
    width: 200px;
  }
}/*# sourceMappingURL=styles.css.map */