*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif

}
@import "./main";
@import "./footer";
main{
    margin-top: 55px;
    width: 300%;
    height: 100px;
    background-image: url(../img/Header\ 01.png);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
}
.icon{
    width: 30px;
    height: 50px;
}
nav{
    background: #ECC8BC;
}
.anclas{
    color: black;
}
.wasu{
    width: 500px;
}
.wasuu{
    width: 250px;
    margin-top: 20px;
}
.logo{
    width: 60px;
    height: 50px;
}
.slider{
    height: 300px;

}
.lego{
    width: 300px;
    height: 70px;
}
.medio{
    background-color: #D6D9CD;
    width: 100%;
    padding-bottom: 2rem;
}
.beton{
    display: flex;
    justify-content: center;

}
.dobu{
    background-color: #142E2D;
    padding: 20px;
}
.txt{
    color: #f4f4f4;
    padding: 10px;
    text-align: justify;
}
.txtt{
    color: #f4f4f4;
    padding: 10px;
    justify-content: centers;
    text-align: center;
}
.toxt{
    text-align: center;
    padding: 15px;
    align-items: center;
}
@keyframes animation{

}
.dobe{
    background-color:  #EDCE7D;
    align-items: center;
    display: flex;
}
.area{
    height: 100px;
}
.fontCardie{
    background-color:#fdf5e6;
}
.peneges{
    width: 70px;
}
.cardie{
    text-align: center;
    
}
.quinsoy{
    padding: 10px;
}
.ilsefoto{
    width: 100%;
    background-color: #142E2D;
}
.fotocont{
    display: flex;
    justify-content: center;
}
.fotillo{
    width: 150px;
    border-radius: 50%;
    border: 2px solid #fdf5e6;
    
}
.formulario{
    background-image: url(../img/Ilust\ 07.png);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 30px;
}
.form{
    background-color: #EDCE7D;
    padding: 10px;
    border-radius: 20px;
    opacity: 0.8;
}
.center{
    text-align: center;

}
.servicio{
    background-color: #142E2D;
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bilboy{
    display: flex;
    justify-content: center;
}
.serviciol{
    background-color: #142E2D;
    width: 350px;
    height: 100px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
.dineros{
    display: flex;
    justify-content: center;
}
.adentro{
    display: flex;
    color: white;
}
.adentro h5{
    justify-content: center;
}
.adentrito{
    width: 80%;
}
.precio{
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url(../img/Ilust\ 05.png);
    align-items: center;
    padding: 30px;
    justify-content: center;
}
.copyright{
    display: flex;
    justify-content: center;
    color: white;
}
@media screen and (max-width: 600px) {
    .dineros{
        display: flex;
        justify-content: center;
    }
    .serviciol{
        background-color: #142E2D;
        width: 230px;
        height: 100px;
        padding: 10px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .wasu {
      width: 375px;
    }
    .wasuu{
        width: 200px;

    }
  }
  @media screen and (max-width: 385px) {
    
    .wasu {
      width: 255px;
    }
    .wasuu{
        width: 200px;

    }
  }

