*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif

}
@import "./main";
@import "./footer";
main{
    width: 100%;
    height: 50%;
    background-image: url(../img/descarga.jfif);
    background-size: cover;
    background-position: center;
    position: relative;
}
nav{
    background: #ECC8BC;
}
.anclas{
    color: black;
}
.logo{
    width: 60px;
    height: 50px;
}
.slider{
    height: 300px;

}
.lego{
    width: 300px;
    height: 70px;
}
.medio{
    background-color: #D6D9CD;
    height: 650px;
    width: 100%;
}
.beton{
    display: flex;
    justify-content: center;

}
.area{
    height: 100px;
}
.formulario{
    background-color: #F0CC7C;
    border-radius: 10px;
    padding: 2rem;
}
